@import '~antd/es/style/themes/default.less';

.m-fe-lang-selector-menu .anticon {
  margin-right: 8px;
}
.m-fe-lang-selector-menu .ant-dropdown-menu-item {
  min-width: 160px;
}

.m-fe-lang-selector-dropDown {
  line-height: 64px;
  vertical-align: top;
  cursor: pointer;
}

.m-fe-lang-selector-dropDown > i {
  font-size: 16px !important;
  transform: none !important;
}

.m-fe-lang-selector-dropDown > i svg {
  position: relative;
  top: -1px;
}
